[Unit]
Description=Timer for beeper0

[Timer]
Unit=beeper0.service
AccuracySec=1s
OnCalendar=Mon..Fri *-*-* 12:00:00 Asia/Yekaterinburg
OnCalendar=Mon..Fri *-*-* 16:00:00 Asia/Yekaterinburg

[Install]
WantedBy=timers.target
