[Unit]
Description=tg-ws-proxy
After=graphical-session.target
BindsTo=graphical-session.target

[Service]
ExecStart=/home/frivermen/.bin/tg-ws-proxy --secret e74afa05994ddfcc6d1af0a996ba0211
Restart=on-failure

[Install]
WantedBy=graphical-session.target
